<a href="https://colab.research.google.com/github/ajazturki10/COG_INT/blob/main/best_planet_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [41]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
data = pd.read_excel('LifeUniverseAndEverything.xlsx')
data.head()

   Life  O2  O3  H2O  N2  H2  Sunlight  Aliens  Plants
0     5   6  38   48  25  38         0       1       1
1     4   0   4    2   6  13         0       1       0
2     4  11   3   78  30  15         0       0       1
3     0  22  30   68  28  23         0       1       0
4    10  20  23   56  20  27         1       0       1

In [8]:
X = data.drop('Life', axis=1)
y = data[['Life']]

In [17]:
from sklearn.ensemble import RandomForestClassifier as rfc

In [18]:
classifier =rfc()

In [12]:
from sklearn.model_selection import GridSearchCV

In [21]:
param_grid = {
    'n_estimators' : [50, 100, 150],
    'max_depth' : np.linspace(4, 16, 2),
    'bootstrap': [True, False]
}

In [27]:
grid_search = GridSearchCV(classifier, 
                           param_grid, 
                           cv=10, 
                           scoring='roc_auc')

In [ ]:
grid_search.fit(X, y)

In [29]:
grid_search.best_estimator_

RandomForestClassifier(max_depth=4.0, n_estimators=50)

In [26]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
n_iter = 50

param_grid = {
    "n_estimators" : np.linspace(50, 200, 15).astype('int'),
    "max_depth": np.arange(4, 20),
    "bootstrap": [True, False] 
}

# Random
random_search = RandomizedSearchCV(classifier,param_grid,
                         n_iter=n_iter,
                         cv=5,
                         scoring='roc_auc',
                         random_state=123)
random_search.fit(X, y)

In [32]:
random_search.best_estimator_

RandomForestClassifier(bootstrap=False, max_depth=16, n_estimators=71)

In [37]:
pip install scikit-optimize

Collecting scikit-optimize
  Downloading scikit_optimize-0.9.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 5.2 MB/s
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.1.0)
Collecting pyaml>=16.9
  Downloading pyaml-21.10.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.21.5)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->scikit-optimize) (3.1.0)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-21.10.1 scikit-optimize-0.9.0

In [ ]:
from skopt import BayesSearchCV

# Bayesian
n_iter = 50

bayesian_search = BayesSearchCV(classifier,
                    param_grid,
                    n_iter=n_iter,
                    cv=5,
                    random_state=123)

bayesian_search.fit(X, y)

In [42]:
bayesian_search.best_estimator_

RandomForestClassifier(max_depth=5, n_estimators=135)