<a href="https://colab.research.google.com/github/ajazturki10/COG_INT/blob/main/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

%matplotlib inline

In [25]:
# Reading the Data from both the urls and storing it in car1 and car2 .

car1 = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/COG_GN22CDBDS001_MARCH_22/main/cars1.csv')
car2 = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/COG_GN22CDBDS001_MARCH_22/main/cars2.csv')

In [26]:
car1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [28]:
car1.shape

(198, 14)

In [27]:
car1.isna().sum()

mpg               0
cylinders         0
displacement      0
horsepower        0
weight            0
acceleration      0
model             0
origin            0
car               0
Unnamed: 9      198
Unnamed: 10     198
Unnamed: 11     198
Unnamed: 12     198
Unnamed: 13     198
dtype: int64

In [29]:
# Droping columns with entirely filled null values
car1.dropna(axis=1, inplace=True)

In [30]:
car2.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model           0
origin          0
car             0
dtype: int64

In [33]:
# Number of observations in car1 and car2

print(car1.shape[0])
print(car2.shape[0])

198
200

In [34]:
# Joining car1 and car2

cars = pd.concat([car1, car2])

In [35]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [36]:
cars.shape

(398, 9)

In [37]:
# Random generating a series within a range og 15000 and 73000 of length equal to the number of observations in cars

owners = np.random.randint(15000, 73000, cars.shape[0])

In [38]:
# adding 'owners' columns to cars

cars['owners'] = owners

In [39]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,32710
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,22690
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,50093
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,52482
4,17.0,8,302,140,3449,10.5,70,1,ford torino,17333